.form-container {
    max-width: 500px;
    margin: auto;
    padding: 6%;
}

.header {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    display: flex;
    /* flex-direction: column; */
    /* background-color: red; */
    font-size: 0.8em;
    margin-bottom: 5px;
}

.input-group input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
}

.submit-btn button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.custom-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    outline: none;
    position: relative;
    overflow: visible;
    clip: auto;
    white-space: normal;
    overflow-wrap: break-word;
    appearance: none; /* Removes the default select dropdown arrow */
}

.custom-select option {
    color: #4a5568; /* Dark gray color for the text */
     /* Light gray color for the background */
}

.status {
    margin-top: 20px;
}


/* src/CommandCopy.css */
.copy-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 554px;
    height: 55px;
    margin: 20px auto;
    background-color: #282A36;
    font-size: 16px;
  }
  
  .command {
    flex-grow: 1;
    font-family: monospace;
    margin-right: 10px;
  }
  
  .copy-icon {
    cursor: pointer;
    color: #007bff;
  }
  